<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-feature android:name="android.hardware.camera.any" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".AmplifyApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/SplashTheme"
        android:requestLegacyExternalStorage="true"
        tools:targetApi="31">
        <activity
            android:name=".SettingInfoActivity"
            android:theme="@style/Theme.Stw"
            android:exported="false" />
        <activity
            android:name="com.google.android.gms.oss.licenses.OssLicensesMenuActivity"
            android:theme="@style/Theme.Stw"
            android:exported="false" />
        <activity
            android:name="com.google.android.gms.oss.licenses.OssLicensesActivity"
            android:theme="@style/Theme.Stw"
            android:exported="false" />

        <activity
            android:name=".SettingTransferActivity"
            android:theme="@style/Theme.Stw"
            android:exported="false" />
        <activity
            android:name=".SettingMailActivity"
            android:theme="@style/Theme.Stw"
            android:exported="false" />
        <activity
            android:name=".SettingProfileActivity"
            android:theme="@style/Theme.Stw"
            android:exported="false" />
        <activity
            android:name=".SettingNotificationActivity"
            android:theme="@style/Theme.Stw"
            android:exported="false" />
        <activity
            android:name=".TermsActivity"
            android:exported="false"
            android:label="@string/title_activity_terms"
            android:theme="@style/SplashTheme.NoActionBar" />
        <activity
            android:name=".UserSettingActivity"
            android:theme="@style/Theme.Stw"
            android:exported="false" />
        <activity
            android:theme="@style/Theme.Stw"
            android:name=".CameraActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="${MAPS_API_KEY}" />
    </application>

</manifest>